img {
    width: 400px;
    align-items: center;
}

body{
    background-color: beige;
    text-align: center;
}

h1{
    color: palevioletred;
}

.track{
    color: gray;
    font-style: italic;
}

.date{
    background-color: white;
    margin: auto;
    text-align: center;
}
